<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-check</string>
	<key>CFBundleIdentifier</key>
	<string>org.takashiyoshida.LaunchBar.action.Test</string>
	<key>CFBundleName</key>
	<string>Sample Action</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Takashi Yoshida</string>
		<key>LBEmail</key>
		<string>takashi@takashiyoshida.org</string>
		<key>LBSummary</key>
		<string>Sample LaunchBar action</string>
		<key>LBTwitter</key>
		<string>@takashiyoshida</string>
		<key>LBWebsiteURL</key>
		<string>https://takashiyoshida.org</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>13</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2023 Takashi Yoshida</string>
</dict>
</plist>
