<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Spotify.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.takashiyoshida.LaunchBar.action.Spotify-BackTrack</string>
	<key>CFBundleName</key>
	<string>Spotify - Back Track</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Takashi Yoshida</string>
		<key>LBEmail</key>
		<string>takashi@takashiyoshida.org</string>
		<key>LBSummary</key>
		<string>This action tells Spotify to reposition to beginning of current track or go to previous track if already at start of current track.</string>
		<key>LBTwitter</key>
		<string>@takashiyoshida</string>
		<key>LBWebsiteURL</key>
		<string>https://takashiyoshida.org/</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBRequiredApplication</key>
	<string>com.spotify.client</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Takashi Yoshida. All rights reserved.</string>
</dict>
</plist>
