<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-folder-open</string>
	<key>CFBundleIdentifier</key>
	<string>org.takashiyoshida.LaunchBar.action.CopyPOSIXPath</string>
	<key>CFBundleName</key>
	<string>Copy POSIX Path</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LBAbbreviation</key>
	<string>copy path</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Takashi Yoshida</string>
		<key>LBEmail</key>
		<string>takashi@takashiyoshida.org</string>
		<key>LBSummary</key>
		<string>Copy POSIX path of a selected item</string>
		<key>LBTwitter</key>
		<string>@takashiyoshida</string>
		<key>LBWebsiteURL</key>
		<string>http://takashiyoshida.org</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>path</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>13</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Takashi Yoshida</string>
</dict>
</plist>
